* {
  box-sizing: border-box;
}
html {
  /* Ocupar el 100% de la página */
  height: 100%;
 
}
body {
  font-family: sans-serif, Arial, Helvetica;
  color: #56595e;
  background: #f8f8f8;
  font-size: 1.2rem;
  /* Ocupar el 100% de la página */
  min-height: 100%;
   
}
li {
  display: inline-block;
}
a {
  display: block;

  padding: 0.5em;
  text-decoration: none;
  color: #56595e;
}
a:hover {
  color: rgb(243, 242, 242);
  background: #4d4f55;
  border-radius: 3px;
}


.contenedor {
  /* width: 95%; */
 
  max-width: 1000px;
  margin: 0.5em auto;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto auto 90px;

  grid-template-areas:
    "header"
    "navegacion"
    "principal"
    "footer";
}

.header {
  grid-area: header;
  border: 1px solid #4d4f55;
  border-radius: 4px;
}
.navegacion {
  grid-area: navegacion;
  border: 1px solid #4d4f55;
  border-radius: 4px;
}
.principal {
  grid-area: principal;
  border: none;
}
li:hover {
  color: #2c2d2e;
}
.navegacion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  grid-area: footer;
 border-top: 1px solid #4d4f55;

}
.principal p {
  padding: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.formulario {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  height: 500px;
  width: 350px;
  border: 1px solid rgb(171, 175, 171);
  margin-bottom: 10px;
  padding: 1em;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.formulario .inDat {
  height: 40px;
  width: 300px;
}

.boton {
  width: 100px;
  height: 40px;
  color: #56595e;
  padding: 10px;
  border: 1px solid rgb(54, 53, 53);
  border-radius: 7px;
  box-shadow: 1px 1px 3px 1px black;
}
.boton:hover {
  color: rgb(34, 36, 34);
  border-color: rgb(5, 117, 29);
}
